/*colors -
Main Green: #61b34f
Light Green: #7cb166
*/



.calc-body {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    height: 60vw;
    width: 48vw;
    border: 1px solid black;
}

.content-row {
    height: 12vw;
    display: flex;
}

.text-content {
    border: .05em solid white;
    flex-grow: 3;
}

#display {
    width: 73%;
    background-color: #61b34f;
    color: white;
    font-size: 1.5em;
    border: .05em solid #61b34f;
}

.digit {
    border: .05em solid white;
    width: 25%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #61b34f;
}

.oper {
    color: black;
    background-color: #7cb166;
    width: 12vw;
    font-size: 1.5em;
    border: .05em solid white;
}

.digit:hover {
    background-color: #7cb166;
}